<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="inforce-task-angular/main.79b74094eae8c114.js" type="module"></script>
<script src="inforce-task-angular/polyfills.ef835bcdfe34ef9c.js" type="module"></script>
<script src="inforce-task-angular/runtime.f9249e79797d1079.js" type="module"></script>
<script src="for-users-inforce/main.33fcf6c3967e3b5b.js" type="module"></script>
<script src="for-users-inforce/polyfills.025b1571e9fb056c.js" type="module"></script>
<script src="for-users-inforce/runtime.1fd6933fe672d0e2.js" type="module"></script>
@{
    ViewData["Title"] = "Urls";
}

<div class="container-fluid">
    @if (User.Identity?.Name is null)
    {
        <app-for-guests></app-for-guests>
    }
    else
    {
        <app-for-users></app-for-users>
    }
</div>

