<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="/inforce-task-angular/main.edf3a5e99d5fe35b.js" type="module"></script>
<script src="/inforce-task-angular/polyfills.ef835bcdfe34ef9c.js" type="module"></script>
<script src="/inforce-task-angular/runtime.f9249e79797d1079.js" type="module"></script>
@{
    ViewData["Title"] = "Urls";
}

<div class="container-fluid">
    @if (User.Identity?.Name is null)
    {
        <app-for-guests></app-for-guests>
    }
    else
    {
        <app-for-users></app-for-users>
    }
</div>

